@import 'vars.css';

#navigator-toolbox {
  min-height: 34px;
}

#nav-bar {
  --navbar-margin: -40px;
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: -100;
  transition: 0.3s all ease-in-out !important;
  transform: scaleY(0);
  transform-origin: top;
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: saturate(180%) blur(10px) !important;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar,
#nav-bar:focus-within {
  margin-top: 0 !important;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  transform: scaleY(1);
}

#urlbar-container {
  --urlbar-container-height: 40px !important;
}

#urlbar {
  --urlbar-height: 32px !important;
  --urlbar-toolbar-height: 40px !important;
  --lwt-toolbar-field-background-color: rgba(74, 74, 79, 0.5) !important;
  backdrop-filter: saturate(180%) blur(10px) !important;
}

#urlbar:-moz-lwtheme > #urlbar-background, #navigator-toolbox #searchbar:-moz-lwtheme {
  background-color: rgba(74, 74, 79, 0.5) !important
  backdrop-filter: saturate(180%) blur(10px) !important;
}

/* Vibrancy tests */
:root:not(:-moz-window-inactive) {
  background: transparent !important;
}

:root #TabsToolbar,
:root #titlebar,
:root #tabbrowser-tabs {
  -moz-appearance: -moz-mac-vibrant-titlebar-light !important;
  background-color: transparent !important;
}

:root[lwthemetextcolor='dark'] #TabsToolbar,
:root[lwthemetextcolor='dark'] #titlebar,
:root[lwthemetextcolor='dark'] #tabbrowser-tabs {
  -moz-appearance: -moz-mac-vibrant-titlebar-light !important;
}

:root[lwthemetextcolor='bright'] #TabsToolbar,
:root[lwthemetextcolor='bright'] #titlebar,
:root[lwthemetextcolor='bright'] #tabbrowser-tabs {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}

:root[lwthemetextcolor='bright']:-moz-window-inactive {
  --lwt-accent-color-inactive: #282828 !important;
}

:-moz-any(:root[privatebrowsingmode='temporary']) #Tabstoolbar,
:-moz-any(:root[privatebrowsingmode='temporary']) #titlebar,
:-moz-any(:root[privatebrowsingmode='temporary']) #tabbrowser-tabs {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}

:-moz-any(:root[privatebrowsingmode='temporary']):-moz-window-inactive {
  --lwt-accent-color-inactive: #282828 !important;
}

:root {
  --toolbar-offset-height: 44px;
}

:-moz-any(:root[privatebrowsingmode='temporary']) .tab-background {
  background: var(--private-accent-color) !important;
}

:-moz-any(:root[privatebrowsingmode='temporary']) #PersonalToolbar {
  background-color: var(--private-accent-color) !important;
}

:-moz-any(:root[privatebrowsingmode='temporary']) #nav-bar {
  background-color: var(--private-accent-color) !important;
}

:-moz-any(:root[privatebrowsingmode='temporary']) .tab-background::before {
  box-shadow: 4px 4px 0 4px var(--private-accent-color) !important;
}

:-moz-any(:root[privatebrowsingmode='temporary']) .tab-background::after {
  box-shadow: -4px 4px 0 4px var(--private-accent-color) !important;
}
